.App {
  text-align: center;
  min-width: 910px;
  min-height: 800px;
}

.No-Margin {
  min-width: 910px;
  color: white;
  background-color: Blue;
  width: 100vw;
  height: 10vh;
}

.Front-Block {
  margin: 0 !important;
  z-index: 999;
  opacity: 0.7;
}

.Block-Style {
  margin: 0;
  width: 10vw;
  height: 10vh;
}

.Fix-Width {
  min-width: 910px;
  min-height: 800px;
}

.VideoPlayer {
  min-height: 800px;
  min-width: 910px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.Z-index {
  z-index: 100;
}
